.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "./Bootstrap, from Twitter_files/Bootstrap, from Twitter.html"}
        = "Project name"
      .nav-collapse.collapse
        %p.navbar-text.pull-right
          = "Logged in as"
          %a.navbar-link{href: "./Bootstrap, from Twitter_files/Bootstrap, from Twitter.html"}
            = "Username"

        %ul.nav
          %li
            %a{href: "./Bootstrap, from Twitter_files/Bootstrap, from Twitter.html"} Home
          %li
            %a{href: "http://www.bootcss.com/examples/fluid.html#about"} About
          %li
            %a{href: "http://www.bootcss.com/examples/fluid.html#contact"}Contact