<div>
  <img src="/assets/example/0.jpg"/>
  <a href="http://baidu.com" target="_blank" class="span4">
    婴姿坊婴童润肤乳贴近婴儿皮肤PH值，易吸收，保湿润肤效果佳。皮肤PH值，易吸收，保湿润肤效果皮肤PH值，易吸收，保湿润肤效果佳皮肤PH值，易吸收，保湿润肤效果佳
  </a>
  <span class="price">
  $99.9
  </span>
  <span class="num">
    ×2
  </span>
  <a class="del">删除</a>
</div>