
<div class="container">
    <div class="row">
        <div class="search">
          <img src="/assets/icons/Infinity-Loop@2x.png">

          <div class="pull-right cart">

            <a href="#fakelink" class="btn btn-warning">
              <span class="fui-list icon"></span>
              购物车
              <span class="label label-important">1</span>
              <span class="fui-arrow-right icon"></span>
            </a>

            <div class="cart-list">
              <% 10.times do |i| %>
                <%= render "cart_item" %>
              <% end %>
            </div>

          </div>

          <div class="input-append pull-right input-search">
            <input placeholder="搜索商品" type="text">
            <a class="btn btn-primary" style="border-radius: 0;padding-bottom: 9px;">
              <span class="fui-search"></span>
            </a>
          </div>

        </div>

        <hr style="width: 100%; height: 1px;background-color: #8E44AD;padding: 0;margin: 0;" />
    </div>

  <h1>Basic elementsBasic elementsBasic elementsBasic elementsBasic elementsBasic elementsBasic elementsBasic elements</h1>
  <h3 class="demo-panel-title">Buttons</h3>

  <div class="row demo-row">
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-primary">Primary Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-warning">Warning Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-block btn-large">Default Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-danger">Danger Button</a>
    </div>
  </div> <!-- /row -->

  <div class="row demo-row">
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-success">Success Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-inverse">Inverse Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block btn-info">Info Button</a>
    </div>
    <div class="span3">
      <a href="#fakelink" class="btn btn-large btn-block disabled">Disabled Button</a>
    </div>
  </div> <!-- /row -->

  <h3 class="demo-panel-title">Menu</h3>
  <div class="row demo-row">
    <div class="span9">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
            <div class="nav-collapse collapse" id="nav-collapse-01">
              <ul class="nav">
                <li>
                  <a href="#fakelink">
                    Menu Item
                    <span class="navbar-unread">1</span>
                  </a>
                </li>
                <li class="active">
                  <a href="#fakelink">
                    Messages
                    <span class="navbar-unread">1</span>
                  </a>
                  <ul>
                    <li><a href="#fakelink">Element One</a></li>
                    <li>
                      <a href="#fakelink">Sub menu</a>
                      <ul>
                        <li><a href="#fakelink">Element One</a></li>
                        <li><a href="#fakelink">Element Two</a></li>
                        <li><a href="#fakelink">Element Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li><a href="#fakelink">Element Three</a></li>
                  </ul> <!-- /Sub menu -->
                </li>
                <li>
                  <a href="#fakelink">
                    About Us
                  </a>
                </li>
              </ul>
            </div><!--/.nav -->
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
      <select name="herolist" value="X-Men" class="select-block span3">
        <option value="0">Choose hero</option>
        <option value="1">Spider Man</option>
        <option value="2">Wolverine</option>
        <option value="3">Captain America</option>
        <option value="X-Men" selected="selected">X-Men</option>
        <option value="Crocodile">Crocodile</option>
      </select>
    </div>
  </div> <!-- /row -->

  <h3 class="demo-panel-title">Input</h3>
  <div class="row">
    <div class="span3">
      <input type="text" value="" placeholder="Inactive" class="span3" />
    </div>
    <div class="span3">
      <div class="control-group error">
        <input type="text" value="Error" class="span3" />
      </div>
    </div>
    <div class="span3">
      <div class="control-group success">
        <input type="text" value="Success" class="span3" />
        <i class="input-icon fui-check-inverted"></i>
      </div>
    </div>
    <div class="span3">
      <input type="text" value="Disabled" disabled="disabled" class="span3" />
    </div>
  </div> <!-- /row -->

  <div class="row">

    <div class="span3">
      <div class="demo-tooltips">
        <h3 class="demo-panel-title">Tooltips</h3>
        <p align="center" data-toggle="tooltip" data-placement="bottom" title="Tooltip under the text."></p>
        <p align="center" data-toggle="tooltip" title="Here is the sample of talltooltip that contains three lines or more. More."></p>
      </div>
    </div> <!-- /span3 with tooltips -->

    <div class="span4">
      <div class="demo-text-box prl">
        <h3 class="demo-panel-title">Text Box</h3>
        <p><strong>Lato</strong> is free web-font designed by <strong>Lukasz&nbsp;Dziedzic</strong> from Warsaw.</p>
        <p>Here you can feel the color, size, line height and margins between paragraphs. Don’t forget to underline
          your links, they are an important <a href="#">visual marker</a> for users.</p>
        <p>Also, to attract attention you can mark some&nbsp;important words using <strong>bold weights</strong>.</p>
      </div>
    </div> <!-- /text box -->

    <div class="span2">
      <h3 class="demo-panel-title demo-headings">Headings</h3>
      <h1>Header</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
    </div> <!-- /headings -->
  </div> <!-- /row -->

  <h3 class="demo-panel-title">Color Swatches</h3>
  <div class="row">
    <div class="span10">
      <div class="row mbl">
        <div class="span2">
          <dl class="palette palette-turquoise">
            <dt>#1abc9c</dt>
            <dd>Turquoise</dd>
          </dl>
          <dl class="palette palette-green-sea">
            <dt>#16a085</dt>
            <dd>Green sea</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-emerald">
            <dt>#2ecc71</dt>
            <dd>Emerald</dd>
          </dl>
          <dl class="palette palette-nephritis">
            <dt>#27ae60</dt>
            <dd>Nephritis</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-peter-river">
            <dt>#3498db</dt>
            <dd>Peter river</dd>
          </dl>
          <dl class="palette palette-belize-hole">
            <dt>#2980b9</dt>
            <dd>Belize hole</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-amethyst">
            <dt>#9b59b6</dt>
            <dd>Amethyst</dd>
          </dl>
          <dl class="palette palette-wisteria">
            <dt>#8e44ad</dt>
            <dd>Wisteria</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-wet-asphalt">
            <dt>#34495e</dt>
            <dd>Wet asphalt</dd>
          </dl>
          <dl class="palette palette-midnight-blue">
            <dt>#2c3e50</dt>
            <dd>Midnight blue</dd>
          </dl>
        </div>
      </div> <!-- /color swatches -->

      <div class="row mbl">
        <div class="span2">
          <dl class="palette palette-sun-flower">
            <dt>#f1c40f</dt>
            <dd>Sun flower</dd>
          </dl>
          <dl class="palette palette-orange">
            <dt>#f39c12</dt>
            <dd>Orange</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-carrot">
            <dt>#e67e22</dt>
            <dd>Carrot</dd>
          </dl>
          <dl class="palette palette-pumpkin">
            <dt>#d35400</dt>
            <dd>Pumpkin</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-alizarin">
            <dt>#e74c3c</dt>
            <dd>Alizarin</dd>
          </dl>
          <dl class="palette palette-pomegranate">
            <dt>#c0392b</dt>
            <dd>Pomegranate</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-clouds">
            <dt>#ecf0f1</dt>
            <dd>Clouds</dd>
          </dl>
          <dl class="palette palette-silver">
            <dt>#bdc3c7</dt>
            <dd>Silver</dd>
          </dl>
        </div>

        <div class="span2">
          <dl class="palette palette-concrete">
            <dt>#95a5a6</dt>
            <dd>Concrete</dd>
          </dl>
          <dl class="palette palette-asbestos">
            <dt>#7f8c8d</dt>
            <dd>Asbestos</dd>
          </dl>
        </div>
      </div> <!-- /color swatches -->
    </div>

    <div class="span2">
      <h6 class="palette-headline">SWATCHES</h6>
      <p class="palette-paragraph">
        Colors &mdash; is almost the most important part of the <strong>Flat UI</strong>. Better to use different shades of provided colors than new.
      </p>
      <p class="palette-paragraph">
        For your convenience we also provide <strong>Swatches Preset</strong> <span>(flat&#8209;ui&#8209;swatches.aco in the Pack folder).</span>
      </p>
      <p class="palette-paragraph">
        <strong>No gradients, no shadows.</strong>
      </p>
    </div> <!-- /swatches desc -->
  </div> <!-- /swatches row -->

  <h3 class="demo-panel-title">Icons <small>(14)</small></h3>
  <div class="demo-illustrations">
    <div class="demo-content">
      <div><img src="/assets/icons/Toilet-Paper@2x.png" alt="Toilet-Paper"></div>
      <div><img src="/assets/icons/Gift-Box@2x.png" alt="Gift-Box"></div>
      <div><img src="/assets/icons/Pensils@2x.png" alt="Pensils"></div>
      <div><img src="/assets/icons/Clipboard@2x.png" alt="Clipboard"></div>
      <div><img src="/assets/icons/Retina-Ready@2x.png" alt="Retina-Ready"></div>
      <div><img src="/assets/icons/Compas@2x.png" alt="Compas"></div>
      <div><img src="/assets/icons/Map@2x.png" alt="Map"></div>
      <div><img src="/assets/icons/Chat@2x.png" alt="Chat"></div>
      <div><img src="/assets/icons/Mail@2x.png" alt="Mail"></div>
      <div><img src="/assets/icons/Book@2x.png" alt="Book"></div>
      <div><img src="/assets/icons/Calendar@2x.png" alt="Calendar"></div>
      <div><img src="/assets/icons/Pocket@2x.png" alt="Pocket"></div>
      <div><img src="/assets/icons/Watches@2x.png" alt="Watches"></div>
      <div><img src="/assets/icons/Infinity-Loop@2x.png" alt="Infinity-Loop"></div>
    </div>
  </div>


  <h3 class="demo-panel-title">Glyphs <small>(30)</small></h3>
  <div class="demo-icons">
    <div class="demo-content">
      <span class="fui-arrow-right"></span>
      <span class="fui-arrow-left"></span>
      <span class="fui-cmd"></span>
      <span class="fui-check-inverted"></span>
      <span class="fui-heart"></span>
      <span class="fui-location"></span>
      <span class="fui-plus"></span>
      <span class="fui-check"></span>
      <span class="fui-cross"></span>
      <span class="fui-list"></span>
      <span class="fui-new"></span>
      <span class="fui-video"></span>
      <span class="fui-photo"></span>
      <span class="fui-volume"></span>
      <span class="fui-time"></span>
      <span class="fui-eye"></span>
      <span class="fui-chat"></span>
      <span class="fui-search"></span>
      <span class="fui-user"></span>
      <span class="fui-mail"></span>
      <span class="fui-lock"></span>
      <span class="fui-gear"></span>
      <span class="fui-radio-unchecked"></span>
      <span class="fui-radio-checked"></span>
      <span class="fui-checkbox-unchecked"></span>
      <span class="fui-checkbox-checked"></span>
      <span class="fui-calendar-solid"></span>
      <span class="fui-pause"></span>
      <span class="fui-play"></span>
      <span class="fui-check-inverted-2"></span>
    </div>
  </div> <!-- /icon font row -->

  <h1 class="mbl pbl">Samples</h1>
  <div class="row demo-samples">
    <div class="span4">
      <div class="todo mrm">
        <div class="todo-search">
          <input class="todo-search-field" type="search" value="" placeholder="Search" />
        </div>
        <ul>
          <li class="todo-done">
            <div class="todo-icon fui-user"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Meet <strong>Adrian</strong> at <strong>6pm</strong>
              </h4>
              Times Square
            </div>
          </li>

          <li>
            <div class="todo-icon fui-list"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Chat with <strong>V.Kudinov</strong>
              </h4>
              Skype conference an 9 am
            </div>
          </li>

          <li>
            <div class="todo-icon fui-eye"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Watch <strong>Iron Man</strong>
              </h4>
              1998 Broadway
            </div>
          </li>

          <li>
            <div class="todo-icon fui-time"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Fix bug on a <strong>Website</strong>
              </h4>
              As soon as possible
            </div>
          </li>
        </ul>
      </div>
    </div> <!-- /todo list -->

  </div>

  <div class="row demo-tiles">
    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Compas@2x.png" alt="Compas@2x" class="tile-image big-illustration">
        <h3 class="tile-title">Web Oriented</h3>
        <p>100% convertable to HTML/CSS layout.</p>
        <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
      </div>
    </div>

    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Infinity-Loop@2x.png" alt="Infinity-Loop@2x" class="tile-image">
        <h3 class="tile-title">Easy to Customize</h3>
        <p>Vector-based shapes and minimum of layer styles.</p>
        <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
      </div>
    </div>

    <div class="span3">
      <div class="tile">
        <img src="/assets/icons/Pensils@2x.png" alt="Pensils@2x" class="tile-image">
        <h3 class="tile-title">Color Swatches</h3>
        <p>Easy to add or change elements. </p>
        <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
      </div>
    </div>

    <div class="span3">
      <div class="tile tile-hot">
        <img src="/assets/icons/Chat@2x.png" alt="Chat@2x" class="tile-image">
        <h3 class="tile-title">Free for Share</h3>
        <p>Your likes, shares and comments helps us.</p>
        <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
      </div>

    </div>
  </div> <!-- /tiles -->

  <div class="row">
    <div class="span9">
      <div class="demo-browser">
        <div class="demo-browser-side">
          <div class="demo-browser-author"></div>
          <div class="demo-browser-action">
            <a class="btn btn-danger btn-large btn-block" href="http://twitter.com/monstercritic" target="_blank">
              Follow
            </a>
          </div>
          <h5>@monstercritic</h5>
          <h6>
            Tourist. Designer. NYC
            <a href="http://shmidt.in" target="_blank">shmidt.in</a>
          </h6>
        </div>
        <div class="demo-browser-content">
          <img src="/assets/demo/browser-pic-1.jpg" alt="" />
          <img src="/assets/demo/browser-pic-2.jpg" alt="" />
          <img src="/assets/demo/browser-pic-3.jpg" alt="" />
          <img src="/assets/demo/browser-pic-4.jpg" alt="" />
          <img src="/assets/demo/browser-pic-5.jpg" alt="" />
          <img src="/assets/demo/browser-pic-6.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="demo-download">
        <img src="/assets/demo/html-icon.png" src="Free PSD" />
      </div>

      <a href="https://github.com/designmodo/Flat-UI/archive/master.zip" class="btn btn-primary btn-large btn-block">Download</a>

      <p class="demo-download-text">Your likes, shares and comments make us happy!</p>
    </div>
  </div> <!-- /download area -->

</div> <!-- /container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="span7">
        <h3 class="footer-title">Subscribe</h3>
        <p>Do you like this freebie? Want to get more stuff like this?<br/>
          Subscribe to designmodo news and updates to stay tuned on great designs.<br/>
          Go to: <a href="http://designmodo.com/flat-free" target="_blank">designmodo.com/flat-free</a>
        </p>

        <p class="pvl">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;HTML User Interface Kit" data-via="designmodo" data-size="large">Tweet</a>

        </p>

        <a class="footer-brand" href="http://designmodo.com" target="_blank">
          <img src="/assets/footer/logo.png" alt="Designmodo.com" />
        </a>
      </div> <!-- /span8 -->

      <div class="span5">
        <div class="footer-banner">
          <h3 class="footer-title">Get Flat UI Pro</h3>
          <ul>
            <li>Tons of Basic and Custom UI Elements</li>
            <li>A Lot of Useful Samples</li>
            <li>More Vector Icons and Glyphs</li>
            <li>Pro Color Swatches</li>
            <li>Bootstrap Based HTML/CSS/JS Layout</li>
          </ul>
          Go to: <a href="http://designmodo.com/flat" target="_blank">designmodo.com/flat</a>
        </div>
      </div>
    </div>
  </div>
</footer>
