div.search{
    padding: 8px 0 8px 0;
    margin-bottom: 0;
}

div hr {
    width: 100%;
    height: 1px;
    background-color: #8E44AD;
    padding: 0;
    margin: 0;
}

div.search .input-search {
    position: relative;
    left: 260px;
}

div.search .input-search input{
    width: 320px;
}


div.search img{
    width: 80px;
    height: 80px;
}

div.search div{
    padding-top: 18px;
    height: 62px;
}

div.search div *{
    height: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

div.search .cart a {
    height: 19px;
    margin-left: 320px;
    font-weight: lighter;
}
div.search .cart a span{
    height: 13px;
}

div.search .cart a span.icon{
    height: auto;
    top: 0px;
}

.cart .cart-list {
    background-color: #fff;
    border: 1px solid #7f8c9a;
    height: auto;
    max-height: 480px;
    overflow: scroll;
    display: none;
    width: 460px;
    padding-top: 0;
    position: relative;
    z-index: 1;
}
.cart:hover .cart-list {
    display: block;
}
.cart-list div {
    height: 60px !important;
    list-style: none;
    margin: 8px 8px 0 8px;
    padding-top: 0px !important;
    padding-bottom: 8px;
    border-bottom: 1px solid #415b76;
}

.cart-list div:last-child {
    border: none;
}

.cart-list div img {
    width: 60px;
    height: 60px;
    float: left;
}

.cart-list div a {
    height: 46px !important;
    margin-left: 0px !important;
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    padding: 6px 0;
}

.cart-list div .price {
    position: relative;
    top: 8px;
    left: 16px;
    color: red;
}

.cart-list div .num {
    position: relative;
    top: 8px;
    left: 16px;
    color: #798795;
    font-size: 0.5em;
}

.cart-list div .del {
    display: block;
    position: relative;
    left: 16px;
    top: 8px;
    width: 2em;
}

.cart-list .cart-list-summary{
    text-align: center;
    height: 28px !important;
}

.cart-list .cart-list-summary a {
    height: 19px !important;
    padding: 4px 8px;
}