div.search{
    padding: 8px 0 8px 0;
    margin-bottom: 0;
}

div.search img{
    width: 80px;
    height: 80px;
}

div.search div{
    padding-top: 18px;
    height: 62px;
}

div.search div *{
    height: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

div.search .cart a {
    height: 19px;
    margin-left: 28px;
    font-weight: lighter;
    /*background: url(/assets/icon_from_suning.png) no-repeat 0 -135px;*/
}
div.search .cart a span{
    height: 13px;
}

div.search .cart a span.icon{
    height: auto;
    top: 0px;
}

.cart .cart-list {
    background-color: #ffffff;
    border: 1px solid #7f8c9a;
    height: 130px;
    display: none;
}
.cart:hover .cart-list {
    display: block;
}
.cart-list li {
    list-style: none;
}