.footer
   .layout
      .grid
         .pull-left.phone
            %h4 联系方式
            %p 邮箱：37338128@qq.com
            %p 手机：15877942509
            %p QQ:373638128
            %p 地址：云南昆明金碧路云铜时代广场
         .pull-left.phone
            %h4 网站导航
            %p
               %a{href: "#"}关于我们
            %p
               %a{href: "#"}最新动态
            %p
               %a{href: "#"}服务介绍
            %p
               %a{href: "#"}明星队伍
         .pull-left.share
            .clearfix
               %p WEB前端资源网-专注前端开发，关注用户体验!
               %p 版权所有：@2012 WEB前端资源网
